{{room | json}}
<div class="alert alert-success"> {{successMessage}} </div>
<form (ngSubmit)="AddRoom(roomForm)" #roomForm="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="roomType" [(ngModel)]="room.roomType" placeholder="Room Type" />
  </div>
  <div class="form-group"><input type="text" class="form-control" name="amenities" [(ngModel)]="room.amenities"
      placeholder="Amenities" /></div>
  <div class="form-group"><input type="number" class="form-control" name="price" [(ngModel)]="room.price"
      placeholder="Room Price per night" />
  </div>
  <div class="form-group"><input type="text" class="form-control" name="photos" [(ngModel)]="room.photos"
      placeholder="photos (Provide link)" />
  </div>
  <div class="form-group"><input type="datetime" class="form-control" name="checkinTime" [(ngModel)]="room.checkinTime"
      placeholder="Checkin Time" />
  </div>
  <div class="form-group"><input type="datetime" class="form-control" name="checkoutTime"
      [(ngModel)]="room.checkoutTime" placeholder="Checkout Time" />
  </div>
  <div class="form-group"><input type="number" class="form-control" name="rating" [(ngModel)]="room.rating"
      placeholder="Rating" /></div>
  <div>
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-danger">Cancel</button>
  </div>
</form>