<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee> -->
<!-- <h1>This is from ng-content</h1> -->
<!-- </app-container>
<div #name></div> -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    <p>Welcome User</p>
  </div>
  <div *ngSwitchCase="'Admin'">
    <p>Welcome Admin</p>
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>
    <p>You are not authorized to view this page</p>
  </div>
</div> -->
<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>
<router-outlet></router-outlet>