/* You can add global styles to this file, and also import other style files */
.table .even {
  background-color: steelblue;
  color: white;
}

.table .odd {
  background-color: lightsteelblue;
  color: black;
}