<p>booking works!</p>
{{bookingForm.value | json}}
{{bookingForm.pristine | json}}
{{bookingForm.dirty | json}}

<form class="example-form" [formGroup]="bookingForm" (ngSubmit)="addBooking()">

  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput [formControlName]="'roomId'" />
    <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error> -->

  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Guest Name</mat-label>
    <input type="text" matInput [formControlName]="'guestName'" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Guest Email</mat-label>
    <input type="email" matInput [formControlName]="'guestEmail'" placeholder="Ex. pat@example.com" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>
    <input type="text" matInput [formControlName]="'mobileNumber'" placeholder="Mobile Number" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Booking Amount</mat-label>
    <input type="number" matInput [formControlName]="'bookingAmount'" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Checkin Date</mat-label>
    <input matInput [matDatepicker]="picker1" [formControlName]="'checkinDate'">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Checkout Date</mat-label>
    <input matInput [matDatepicker]="picker2" [formControlName]="'checkoutDate'">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Booking Date</mat-label>
    <input matInput [matDatepicker]="picker3" [formControlName]="'bookingDate'">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <!-- expantion panel -->
  <div formGroupName="address">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Address Line 1</mat-label>
          <input type="text" matInput formControlName="addressLine1" placeholder="Address Line 1">
          <!-- {{bookingForm.get('address.adrressLine1')?.errors | json}} -->
          <mat-error *ngIf="bookingForm.get('address.addressLine1')?.hasError('required')">
            Address Line 1 <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Address Line 2</mat-label>
          <input type="text" matInput formControlName="addressLine2" placeholder="Address Line 2">
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" placeholder="City">
        </mat-form-field>

        <mat-form-field>
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" placeholder="State">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input type="text" matInput formControlName="country" placeholder="Country">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pin Code</mat-label>
          <input type="number" matInput formControlName="zipCode" placeholder="Pin Code">
        </mat-form-field>


      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="'checkinDate'">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  <!-- <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput [formControlName]="'roomId'" placeholder="Ex. pat@example.com" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput [formControlName]="'roomId'" placeholder="Ex. pat@example.com" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput [formControlName]="'roomId'" placeholder="Ex. pat@example.com" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput [formControlName]="'roomId'" placeholder="Ex. pat@example.com" />
  </mat-form-field> -->
  <div><button mat-raised-button color="primary">Book Room</button></div>

</form>