<app-header></app-header>
<!-- {{room$ | async | json}} -->
<div [hidden]="hideRooms">
  <h2>Number of rooms available</h2>
  <div [ngStyle]="{
      'color': rooms.roomsAvailable ? 'blue' : 'red', 
      'font-size': '20px'
    }" [innerText]="rooms.roomsAvailable">
  </div>
  <!-- </div> -->

  <!-- {{rooms.roomsAvailable}} -->
  <div *ngIf="selectedRoom">
    {{selectedRoom | json}}
  </div>
  <div>
    <button (click)="addRoom()">Add Room</button>
  </div>
  <h1>
    Number of rooms: {{roomsCount$ | async}}
  </h1>
  <div *ngIf="rooms$ | async">
    <app-rooms-list [rooms]="rooms$ | async" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
  </div>
</div>
<button (click)="toggle()">toggle</button>
<button (click)="editRoom()">editRoom</button>
<button (click)="deleteRoom()">deleteRoom</button>